.cockboard {
  border: 2px;
  width: 80%;
  height: 85%;
  background-image: url(corkboard-texture.jpg);
  border-radius: 20px;
  border-color: black;
  border-style: solid;
  position: absolute;
  margin: 5% 10% 5% 10%;
  box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.5);
}
.note {
  margin: 1%, 1%, 1%, 1%;
  position: absolute;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.5);
  font-family: sans-serif;
  transform: rotate(2deg);
}
